#app{
    margin-left: 210px;
}
body{
    background: none;
    background-color: #424242;
    color: #fff;
}
body *{
    background: none;
    background-color: #424242;
    color: #fff;
}
.modal{
    background: none;
    background-color: #424242;
    color: #fff;
}
.modal *{
    background: none;
    background-color: #424242;
    color: #fff;
}
table {
    border-color: #424242;
    background: none;
    background-color: #303030;
    color: #fff;
}
.ui.vertical.menu{
    background-color: #303030;
}
.ui.vertical.menu * {
    color: #fff;
}
.input, .input *, .input input:focus, .input input:hover, .input input, .input:focus, .input:hover{
    background-color: #303030 !important;
    color: #fff !important;
    border: none;
}
div.wrapper{
	float:left; /* important */
    position:relative; /* important(so we can absolutely position the description div */
    height: 215px;
    width: 150px;
    margin-right: 20px;
    margin-top: 20px;
}
div.anime_cover{
    background-size:cover; 
    background-position:center center; 
    background-repeat:no-repeat;
    width: 100%;
    height: 100%;
}
div.description{
	position:absolute; /* absolute position (so we can position it where we want)*/
	bottom:0px; /* position will be on bottom */
	left:0px;
    width:100%;
    height: 20%;
	/* styling bellow */
	background-color:black;
	color:white;
	opacity:0.75; /* transparency */
	filter:alpha(opacity=60); /* IE transparency */
}
p.description_content{
	padding: 0px 10px;
    margin: 0px;
    opacity: 1;
}
div.cont{
    margin-left: 2%;
    margin-right: 2%;
}
div.anime_banner{
    height: 400px;
    background-position: 50% 35%;
    background-repeat: no-repeat no-repeat;
    background-size: cover;
    position: relative;
}
div.anime_title{
    position: absolute;
    height: 50px;
    padding: 14px 80px;
    width: 100%;
    background: rgba(0,0,0,0.4);
    bottom: 0;
    color: #fff;
    font-weight: bold;
    font-size: large;
}
div.anime_side{
    text-align: center;
    border: solid 1px #424242;
}
div.anime_side.img{
    width: 90%;
    height: auto;
}
div.episodes{
    position: relative;
}
a.episode{
    position: relative;
    min-width: 300px;
    height: 150px;
    margin-right: 20px;
    margin-bottom: 20px;
    float: left;
}
div.episode{
    width: 100%;
    height: 100%;
    background-position: center center;
    background-size: cover;
}
div.episode_name{
    bottom: 0;
    background: rgba(0,0,0,0.4);
    color: white;
    position: absolute;
    padding: 10px 10px;
    width: 100%;
}